doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Админ панель
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", crossorigin="anonymous")
    body
        .container
            h1.mt-md-5.mt-2 Админ панель
            h2 Изменить работу
            form(action=`/admin/works/edit/${workNumber}` method="POST")
                .form-group
                    label(for="name") Название проекта
                    input#name.form-control(name="name" value=work.name type="text" placeholder="Введите название проекта")
                .form-group
                    label(for="description") Описание
                    textarea#description.form-control(rows=10 style="width: 100%" name="description" placeholder="Введите описание")=work.description
                .form-group
                    label(for="image") Url картинки
                    input#image.form-control(name="image" value=work.image type="text" placeholder="Введите url картинки")
                .form-group
                    label(for="previewImage") Url превью картинки (ширина: 370px)
                    input#previewImage.form-control(name="previewImage" type="text" value=work.previewImage placeholder="Введите url превью")
                .form-group
                    label(for="workHeading") Заглавие работы (которую сделали вы)
                    input#workHeading.form-control(name="workHeading" value=work.workHeading type="text" placeholder="Введите заглавие работы")
                .form-group
                    label(for="year") Год
                    input#year.form-control(name="year" value=work.year type="text" placeholder="Введите год")
                .form-group
                    label(for="category") Категория
                    input#category.form-control(name="category" value=work.category type="text" placeholder="Введите категорию")
                .form-group
                    label(for="link") Ссылка
                    input#link.form-control(name="link" value=work.link type="text" placeholder="Введите ссылку")
                button.btn.btn-primary(type="submit") Submit