doctype html
html(lang="ru")
    head
        // Yandex.Metrika counter
        script(type="text/javascript").
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
                ym(65503582, "init", {
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
        noscript
            div
                img(src="https://mc.yandex.ru/watch/65503582" style="position:absolute; left:-9999px;" alt="")
        // /Yandex.Metrika counter
        link(rel="icon" type="image/ico" href="/images/favicon.ico")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:200,300,300i,400,700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="/css/work.css")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title=work.name
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    body
        // Header
        header.header
            .container
                .header__inner
                    .user
                        .user__avatar
                            img(src=photo alt="Моя фотография" title="Я")
                        .user__content
                            .user__name.text-break=name
                            .user__prof.text-break=profession
                    nav#nav.nav
                        a.nav__link(href="/") Главная страница
                        a.nav__link(href="/reviews") Отзывы
                        a.nav__link(href="/#works") Портфолио
                        a.nav__link(href="/#about") Обо мне
                    button#navToggle.burger(type="button")
                        img.burger__icon(src="/images/burger.svg" alt="burger")

        main
            .container
                h1.single-work__title.text-break=work.workHeading
                .single-work
                    a.glightbox(href=work.image data-title=work.name data-description=work.description data-desc-position="bottom" data-type="image" data-effect="fade")
                        img(src=work.image alt=work.name).single-work__img.img
                    .single-work__description
                        p.text-break=work.description
                        p.text-break(style="margin-top: 1rem; margin-bottom: 1rem;") Название проекта:
                            strong.text-break(style="font-size: 1.06rem; margin-left: 0.5rem")=work.name
                        p.text-break(style="margin-top: 1rem; margin-bottom: 1rem;") Год:
                            strong.text-break(style="font-size: 1.06rem; margin-left: 0.5rem")=work.year
                        p.text-break(style="margin-top: 1rem; margin-bottom: 1rem;") Категория:
                            span.text-break(style="margin-left: 0.5rem")=work.category
                    p
                        .single-work__link
                            span Ссылка:
                            a.text-break(href=work.link title="Ссылка на работу" target="_blank")=work.link
        // Footer
        footer.footer
            .container
                .footer__inner
                    .footer__credits
                        .footer__copyright.text-break=copyright
                    // /.footer__credits
                    nav.footer__nav
                        a.footer__nav-link(href="/") Главная страница
                        a.footer__nav-link(href="/reviews") Отзывы
                        a.footer__nav-link(href="/#works") Портфолио
                        a.footer__nav-link(href="/#about") Обо мне
                // /.footer__inner
            // /.container

        // JS
        script(src="/js/glightbox.js")
        script(src="/js/nav.js")
        script(src="/js/gallery.js")
